/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
    display: flex;
    background-color: #f8f9fa;
    font-family: "Bree serif",serif ;
}

#testoAlternato {
    margin: 20px;
    border: 2px solid #343a40;
    flex: 1;
    padding: 20px;
    padding-right: 120px;
    font-size: 20px;
    color: #343a40;
}



.parole i {
    color: rgb(131, 169, 190);
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateY(50px);
    animation: rotateWords 9s ease-in-out infinite 0s;
}

.parole i:nth-child(2) {
    animation-delay: 3s;
}

.parole i:nth-child(3) {
    animation-delay: 6s;
}

@keyframes rotateWords {
    0%, 100% {
        opacity: 0;
        transform: translateY(50px);
    }
    5%, 30% {
        opacity: 1;
        transform: translateY(0);
    }
    35%, 95% {
        opacity: 0;
        transform: translateY(-50px);
    }
}


